{% extends "base_2.html" %}
{% load static %}
{% block content %}

<style>
	h1 {
		text-align:right;
		font-size:2vw;
	}
</style>
<h1 style="font-size:2vw">Herbert Vente Professional DashBoard Web Site</h1>
		<div style="width:70vw">
			<form method="post" action="#">
				{% csrf_token %}

				<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button type="submit" name="new-1a" value="newItem"
									class="btn btn-success" style="font-size:1vw">Visualizar</button>
				</div>
				<select name="newa" style="font-size:1vw">
				<optgroup label="visualizations">
				{% for a in data %}
				    <option value={{a}} selected="selected" style="font-size:1vw">{{a}}</option>
				{% endfor %}
				</optgroup>
				</select>
				</div>
				<div style="width:70vw">
				{{plot | safe}}
			</form>
		</div>

{% endblock %}
